[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".oh-my-zsh/themes/0i0.zsh-theme"]
	path = .oh-my-zsh/themes/0i0.zsh-theme
	url = https://github.com/0i0/0i0.zsh-theme
[submodule ".vim"]
	path = .vim
	url = https://github.com/0i0/vim
